<p id="notice"><%= notice %></p>

<h1>Side Bars</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @side_bars.each do |side_bar| %>
      <tr>
        <td><%= link_to 'Show', side_bar %></td>
        <td><%= link_to 'Edit', edit_side_bar_path(side_bar) %></td>
        <td><%= link_to 'Destroy', side_bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'side_bar_form', side_bar: @side_bar %>
