<section id="admin">
  <h1>Welcome</h1>
  <p>It's <%= Time.now %></p>
  <p>Total Billable <%= number_to_currency(@total_sales) %></p>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Admin</th>
        <th>Client</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.email %></td>
        <td><%= u.admin %></td>
        <td><%= u.client %></td>
      </tr>
    <% end -%>
    </tbody>
  </table>
</section>