<ul>
  <%= render (@cart.line_items) %>
  <li>
    Total: <%= number_to_currency(@cart.total_price) %>
  </li>
</ul>
<div class="col-md-6 offset-md-3">
  <%= label_tag :amount, "Total: "%>
  <%= number_to_currency(@cart.total_price) %>
</div>
<%= form_tag('/checkouts') %>
  <div class="actions">
    <%= submit_tag "Submit", class: 'btn btn-light' %>
  </div>
