<div class="row">
  <div class="col-md-8">
    <h1>Listing Products</h1>
  </div>
  <div class="col-md-4">
  <% if current_user.try(:admin) %>
    <%= link_to "New Product", new_product_path, class: "btn btn-light mt-2" %>
  <% end -%>
    <%= link_to 'Back', products_path, class: "btn btn-light mt-2" %>
  </div>
</div>
<div id="searched" class="flex-container">
  <%= render 'store/index' %>
</div>
<div class="search_form">
  <%= form_tag(products_path, method: "get") do %>
    <%= label_tag(:q, "Search For:") %>
    <%= text_field_tag (:q) %>
    <%= submit_tag("Search", class: 'btn btn-light') %>
  <% end -%>
</div>