<p>
  <strong>Product:</strong>
  <%= @line_item.product %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @line_item.belongs_to %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item), class: "links" %> |
<%= link_to 'Back', line_items_path, class: "links" %>
