<p id="notice"><%= notice %></p>

<h1>Side Bar Contents</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @side_bar_contents.each do |side_bar_content| %>
      <tr>
        <td><%= link_to 'Show', side_bar_content %></td>
        <td><%= link_to 'Edit', edit_side_bar_content_path(side_bar_content) %></td>
        <td><%= link_to 'Destroy', side_bar_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Side Bar Content', new_side_bar_content_path %>
